<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- if empty - default set will be used-->
    <add key="chars" value=" abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"/>
    
    <!-- File size in bytes (decimal). If value is not valid then 1024 will be used -->
    <add key="size" value="1048576"/>
    
    <!-- Value in percentage. Default is zero -->
    <add key="duplicatesProbability" value="2"/>
    
    <!-- If value is not valid then -2147483648 will be used -->
    <add key="numberMinValue" value="-2147483648"/>

    <!-- If value is not valid then 2147483648 will be used -->
    <add key="numberMaxValue" value="2147483647"/>
    
    <add key="outFile" value="generated.txt"/>
    
    <!-- should be >= 1 and < 1000000. If value is not valid or less than 1 then 1 will be used -->
    <add key="textMinLength" value="1"/>
    
    <!-- should be >= textMinLength and <= 1000000. If value is not valid then textMinLength + 1 will be used -->
    <add key="textMaxLength" value="1000"/>
  </appSettings>
</configuration>