################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileSort/v16
/bin/Debug
/obj/Debug
/packages/log4net.2.0.12
