<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="File" value="inputMedium.txt"/>
    <add key="SplitterLinesLimit" value="100000"/>
    <add key="LinesReadLimit" value="300000"/>
    <add key="LinesListsLimit" value="3"/>
  </appSettings>
</configuration>